*{
    box-sizing: border-box;
}
.parent{
    width: 800px;
    height: 400px;
    position: relative;
    margin: 50px auto;
    border: 1px solid #888;
}
.button{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #fff;
    background-color: teal;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.text{
width: 250px;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    text-transform: capitalize;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); 
    opacity: 0;transition-duration: 1s;
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.parent:hover .text{
opacity: 1;
}